apiVersion: batch/v1
kind: Job
metadata:
  name: kubernetes-nvidia-gpu-test
  labels:
    jobgroup: kubernetes-nvidia-gpu-test
spec:
  template:
    metadata:
      name: kubernetes-nvidia-gpu-test
      labels:
        jobgroup: kubernetes-nvidia-gpu-test
    spec:
      containers:
      - name: kubernetes-nvidia-gpu-test
        image: nvcr.io/nvidia/cuda:12.3.1-base-ubuntu22.04
        args: ["nvidia-smi"]
      restartPolicy: Never
