deb [signed-by=/usr/share/keyrings/nvidia-docker.asc] https://nvidia.github.io/libnvidia-container/stable/deb/$(ARCH) /
deb [signed-by=/usr/share/keyrings/nvidia-docker.asc] https://nvidia.github.io/libnvidia-container/stable/ubuntu18.04/$(ARCH) /
#deb [signed-by=/usr/share/keyrings/nvidia-docker.asc] https://nvidia.github.io/libnvidia-container/experimental/deb/$(ARCH) /
#deb [signed-by=/usr/share/keyrings/nvidia-docker.asc] https://nvidia.github.io/libnvidia-container/experimental/ubuntu18.04/$(ARCH) /
