service:
  # -- Set the IP family policy to configure dual-stack
  ipFamilyPolicy: "{% if wsl_host_primary_ipv4_address and wsl_host_primary_ipv6_address %}PreferDualStack{% elif wsl_host_primary_ipv6_address %}SingleStack{% elif wsl_host_primary_ipv4_address %}SingleStack{% else %}""{% endif %}"
  # -- Sets the families that should be supported and the order in which they should be applied
  ipFamilies:
{% if wsl_host_primary_ipv4_address and wsl_host_primary_ipv6_address %}
    - IPv4
    - IPv6
{% elif wsl_host_primary_ipv6_address %}
    - IPv6
{% elif wsl_host_primary_ipv4_address %}
    - IPv4
{% else %}
    []
{% endif %}

#bitwarden-sdk-server:
#  enabled: true

webhook:
  certManager:
    enabled: true
    cert:
      issuerRef:
        group: cert-manager.io
        kind: ClusterIssuer
        name: cert-manager-ca
