# external_coredns_helm_version: "{{ external_coredns_helm_version }}"
isClusterService: false
replicaCount: 1

service:
{% if external_coredns_primary_dns_ipv4 %}
  clusterIP: "{{ external_coredns_primary_dns_ipv4 }}"
{% elif external_coredns_primary_dns_ipv6 %}
  clusterIP: "{{ external_coredns_primary_dns_ipv6 }}"
{% endif %}
  clusterIPs:
{% if external_coredns_primary_dns_ipv4 %}
    - "{{ external_coredns_primary_dns_ipv4 }}"
{% endif %}
{% if external_coredns_primary_dns_ipv6 %}
    - "{{ external_coredns_primary_dns_ipv6 }}"
{% endif %}
{% if external_coredns_primary_dns_ipv4 and external_coredns_primary_dns_ipv6 %}
  ipFamilyPolicy: "PreferDualStack"
{% elif external_coredns_primary_dns_ipv6 %}
  ipFamilyPolicy: "SingleStack"
  ipFamilies: ["IPv6"]
{% else %}
  ipFamilyPolicy: "SingleStack"
  ipFamilies: ["IPv4"]
{% endif %}
  port: 53
  udpPort: 53
  annotations: {}

# Default zone is what Kubernetes recommends:
# https://kubernetes.io/docs/tasks/administer-cluster/dns-custom-nameservers/#coredns-configmap-options

servers:
  - zones:
      - zone: .
    port: 53
    plugins:
      - name: errors  # Log DNS errors
      - name: health  # Provides a health check
        configBlock: |-
          lameduck 5s
      - name: ready  # Readiness check
      - name: prometheus  # Expose metrics for monitoring
        parameters: 0.0.0.0:9153
      - name: log  # Log DNS queries (optional, useful for debugging)
      - name: cache  # Cache responses for better performance
        parameters: 30
      - name: reload  # Allows dynamic configuration updates
      - name: etcd  # Retrieves DNS data from ETCD
        parameters: "{{ external_coredns_domain }}"
        configBlock: |-
          endpoint {{ external_coredns_etcd_address }}
          credentials {$ETCD_USERNAME} {$ETCD_PASSWORD}
          tls /etc/tls/tls.crt /etc/tls/tls.key /etc/tls/ca.crt
          path /skydns
      # - name: forward (optional, uncomment if you need fallback resolution)
      - name: loop  # Prevents infinite recursion, should NOT be last
      - name: loadbalance  # Load balance requests across available backends

extraEnv:
  - name: ETCD_USERNAME
    valueFrom:
      secretKeyRef:
        name: external-coredns-etcd-credentials
        key: username
  - name: ETCD_PASSWORD
    valueFrom:
      secretKeyRef:
        name: external-coredns-etcd-credentials
        key: password

extraVolumes:
  - name: ca-certificates-volume
    configMap:
      name: ca-bundle
      items:
        - key: ca-bundle.pem
          path: ca-bundle.pem
  - name: etcd-certificates-volume
    secret:
      secretName: external-coredns-etcd-tls-secret
      items:
        - key: tls.crt
          path: tls.crt
        - key: tls.key
          path: tls.key
        - key: ca.crt
          path: ca.crt

extraVolumeMounts:
  - mountPath: /etc/ssl/certs/ca-certificates.crt
    name: ca-certificates-volume
    subPath: ca-bundle.pem
  - name: etcd-certificates-volume
    mountPath: /etc/tls/tls.crt
    subPath: tls.crt
  - name: etcd-certificates-volume
    mountPath: /etc/tls/tls.key
    subPath: tls.key
  - name: etcd-certificates-volume
    mountPath: /etc/tls/ca.crt
    subPath: ca.crt
