apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: external-coredns-etcd-tls-cert
spec:
  secretName: external-coredns-etcd-tls-secret
  duration: 2160h # 90 days
  renewBefore: 360h # 15 days
  issuerRef:
    name: cert-manager-ca
    kind: ClusterIssuer
  dnsNames:
    - "*.external-coredns.svc.cluster.local"
    - "*.external-coredns.svc"
    - "*.external-coredns"
  ipAddresses:
    - "127.0.0.1"
    - "::1"
  usages:
    - server auth
    - client auth

---

apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: external-coredns-etcd-credentials
  namespace: external-coredns
spec:
  data:
    - remoteRef:
        conversionStrategy: Default
        decodingStrategy: None
        key: etcd-root-credentials
        metadataPolicy: None
        property: username
      secretKey: username
    - remoteRef:
        conversionStrategy: Default
        decodingStrategy: None
        key: etcd-root-credentials
        metadataPolicy: None
        property: password
      secretKey: password
  refreshInterval: 1h
  secretStoreRef:
    kind: ClusterSecretStore
    name: etcd-cluster-secret-store
  target:
    creationPolicy: Owner
    deletionPolicy: Retain
    name: external-coredns-etcd-credentials
---