
replicas: 1
redisOperator:
  imageTag:  {{ redis_operator_helm_image_tag }}
  webhook: true
certificate:
  name: redis-operator-webhook-tls
  secretName: redis-operator-webhook-tls
resources:
  requests:
    cpu: 100m
    memory: 100Mi
  limits:
    cpu: 400m
    memory: 500Mi
