# cert_manager_helm_version: {{ cert_manager_helm_version }}

crds:
  enabled: true
ingressShim:
  defaultIssuerName: letsencrypt-production
  defaultIssuerKind: ClusterIssuer
global:
  leaderElection:
    namespace: cert-manager
enableCertificateOwnerRef: true
