# etcd_helm_version: {{ etcd_helm_version }}

replicaCount: 2 # it does not set ETCD_INITIAL_CLUSTER env variables if its not bigger then 1, which causes script to fail

extraVolumes:
  - name: ca-certificates-volume
    configMap:
      name: ca-bundle
      items:
        - key: ca-bundle.pem
          path: ca-bundle.pem

extraVolumeMounts:
  - mountPath: /etc/ssl/certs/ca-certificates.crt
    name: ca-certificates-volume
    subPath: ca-bundle.pem

auth:
  client:    
    existingSecret: "etcd-tls-secret"
    certFilename: "tls.crt"
    certKeyFilename: "tls.key"
    caFilename: "ca.crt"
    secureTransport: true
    useAutoTLS: false
    enableAuthentication: true
  peer:
    existingSecret: "etcd-tls-secret"
    certFilename: "tls.crt"
    certKeyFilename: "tls.key"
    caFilename: "ca.crt"
    secureTransport: true
    useAutoTLS: false
    enableAuthentication: true
  rbac:
    allowNoneAuthentication: true
    create: true
    existingSecret: "etcd-root-credentials"
    existingSecretPasswordKey: "password"
  token:
    enabled: true

persistence:
  enabled: true
  size: {{ etcd_volume_size }}

service:
  type: LoadBalancer
  annotations:
    metallb.universe.tf/loadBalancerIPs: {{ etcd_load_balancer_ip }}
    io.cilium/lb-ipam-ips: {{ etcd_load_balancer_ip }}
  ports:
    client: {{ etcd_service_port_client }}    

customLivenessProbe:
  exec:
    command:
      - /opt/bitnami/scripts/etcd/healthcheck.sh
  initialDelaySeconds: 60
  timeoutSeconds: 5
  periodSeconds: 30
  successThreshold: 1
  failureThreshold: 5