# external_coredns_helm_version: {{ external_coredns_helm_version }}
isClusterService: false
replicaCount: 1

service:
  clusterIP: {{ external_coredns_primary_dns_ipv4 }}
  clusterIPs: [{{ external_coredns_primary_dns_ipv4 }}]
  port: 53
  udpPort: 53
  annotations: {}  
# Default zone is what Kubernetes recommends:
# https://kubernetes.io/docs/tasks/administer-cluster/dns-custom-nameservers/#coredns-configmap-options

servers:
- zones:
  - zone: .
  port: 53
  plugins:
  - name: errors
  # Serves a /health endpoint on :8080, required for livenessProbe
  - name: health
    configBlock: |-
      lameduck 5s
  - name: etcd
    parameters: {{ external_coredns_domain }}
    configBlock: |-
      endpoint {{ external_coredns_etcd_address }}
      tls /etc/tls/tls.crt /etc/tls/tls.key /etc/tls/ca.crt
      path /coredns
  - name: cache
    parameters: 30
  # - name: forward
  - name: reload
  - name: log
  - name: loadbalance
  - name: loop
  # Serves a /metrics endpoint on :9153, required for serviceMonitor
  - name: prometheus
    parameters: 0.0.0.0:9153
  # Serves a /ready endpoint on :8181, required for readinessProbe
  - name: ready

extraVolumes:
  - name: ca-certificates-volume
    configMap:
      name: ca-bundle
      items:
        - key: ca-bundle.pem
          path: ca-bundle.pem
  - name: etcd-certificates-volume
    secret:
      secretName: external-coredns-etcd-tls-secret
      items:
        - key: tls.crt
          path: tls.crt
        - key: tls.key
          path: tls.key
        - key: ca.crt
          path: ca.crt

extraVolumeMounts:
  - mountPath: /etc/ssl/certs/ca-certificates.crt
    name: ca-certificates-volume
    subPath: ca-bundle.pem
  - name: etcd-certificates-volume
    mountPath: /etc/tls/tls.crt
    subPath: tls.crt
  - name: etcd-certificates-volume
    mountPath: /etc/tls/tls.key
    subPath: tls.key
  - name: etcd-certificates-volume
    mountPath: /etc/tls/ca.crt
    subPath: ca.crt