apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: external-coredns-etcd-tls-cert
spec:
  secretName: external-coredns-etcd-tls-secret
  duration: 2160h # 90 days
  renewBefore: 360h # 15 days
  issuerRef:
    name: cert-manager-ca
    kind: ClusterIssuer
  dnsNames:
    - "*.external-dns.svc.cluster.local"
    - "*.external-dns.svc"
    - "*.external-dns"
  ipAddresses:
    - "127.0.0.1"
    - "::1"
  usages:
    - server auth
    - client auth
