isClusterService: false

service:
  clusterIP: {{ external_coredns_primary_dns_ipv4 }}
  clusterIPs: [{{ external_coredns_primary_dns_ipv4 }}]
  port: 53
  udpPort: 53
  annotations: {}  
# Default zone is what Kubernetes recommends:
# https://kubernetes.io/docs/tasks/administer-cluster/dns-custom-nameservers/#coredns-configmap-options

servers:
- zones:
  - zone: .
  port: 53
  plugins:
  - name: errors
  # Serves a /health endpoint on :8080, required for livenessProbe
  - name: health
    configBlock: |-
      lameduck 5s
  # Serves a /ready endpoint on :8181, required for readinessProbe
  - name: ready
  # Serves a /metrics endpoint on :9153, required for serviceMonitor
  - name: prometheus
    parameters: 0.0.0.0:9153
  - name: cache
    parameters: 30
  - name: loop
  - name: reload
  - name: loadbalance
  - name: etcd
    parameters: {{ external_coredns_domain }}
    configBlock: |-
      stubzones
      path /skydns
      endpoint {{ external_coredns_etcd_address }}
