# flowise_helm_version: {{ flowise_helm_version }}

image:
  tag: {{ flowise_helm_image_tag }}

service:
  type: LoadBalancer
  loadBalancerIP: {{ flowise_load_balancer_ip }}

ingress:
  enabled: true
  hosts:
  - host: flowise.{{ flowise_tld }}
    paths:
      - /  
  - host: flowise.flowise.{{ flowise_cluster_name }}.{{ flowise_tld }}
    paths:
      - /

externalPostgresql:
  enabled: true
  host: {{ postgres_cluster_name }}.postgres-cluster
  username: {{ postgres_cluster_flowise_database_username }}
  existingSecret: {{ postgres_cluster_flowise_database_username }}.{{ postgres_cluster_name }}.credentials.postgresql.acid.zalan.do
  database: {{ postgres_cluster_flowise_database_name }}
