# k8s_gateway_helm_version: {{ k8s_gateway_helm_version }}
domain: {{ k8s_gateway_domain }}
secondary: k8s-gateway-primary.k8s-gateway
service:
  type: LoadBalancer
  annotations:
    metallb.universe.tf/loadBalancerIPs: {{ k8s_gateway_external_secondary_dns_ipv4 }}
    io.cilium/lb-ipam-ips: {{ k8s_gateway_external_secondary_dns_ipv4 }}
