---

apiVersion: v1
kind: Namespace
metadata:
  name: ollama

---

apiVersion: v1
kind: Service
metadata:
  name: ollama
  namespace: ollama
spec:
  ports:
    - port: 80
      protocol: TCP

---

apiVersion: v1
kind: Endpoints
metadata:
  name: ollama # Must be equal to Service name for automatic mapping
  namespace: ollama
subsets:
- addresses:
  - ip: {{ wsl_host_ipv4_ip }} # IP address of your external service that you would like to proxy requests to
  ports:
  - port: 11434

---

apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: ollama-ingress
  namespace: ollama  
spec:
  rules:
  - host: ollama.{{ ollama_tld }}
    http:
      paths:
      - pathType: Prefix
        path: "/"
        backend:
          service:
            name: ollama
            port:
              number: 80
  - host: ollama.ollama.{{ ollama_cluster_name }}.{{ ollama_tld }}
    http:
      paths:
      - pathType: Prefix
        path: "/"
        backend:
          service:
            name: ollama
            port:
              number: 80              
---
