---

apiVersion: v1
kind: Namespace
metadata:
  name: ollama

---

apiVersion: v1
kind: Service
metadata:
  name: ollama-proxy-service
  namespace: ollama
spec:
  ports:
    - port: 11434
      protocol: TCP
      targetPort: 11434
      name: http

---

apiVersion: v1
kind: Endpoints
metadata:
  name: ollama-proxy-service # Must be equal to Service name for automatic mapping
  namespace: ollama
subsets:
- addresses:
  - ip: {{ wsl_host_ipv4_ip }} # IP address of your external service that you would like to proxy requests to
  ports:
  - port: 11434

---

apiVersion: discovery.k8s.io/v1
kind: EndpointSlice
metadata:  
  name: ollama-proxy-service
  namespace: ollama
  labels:
    kubernetes.io/service-name: ollama-proxy-service # Must be present for EndpointSlice and equal to Service name for automatic mapping - with having it in place, you can change the name of EndpointSlice to something else. The official convention is using Service name as the prefix.
addressType: IPv4
ports:
  - port: 11434
endpoints:
  - addresses:
    - "{{ wsl_host_ipv4_ip }}"

---

apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: ollama-proxy-service-ingress
  namespace: ollama  
spec:
  rules:
  - host: ollama.ollama.{{ ollama_cluster_name }}.{{ ollama_tld }}
    http:
      paths:
      - backend:
          service:
            name: ollama-proxy-service
            port:
              number: 11434
        path: /
        pathType: ImplementationSpecific