configGeneral:
  max_instances: 1
  workers: 4

configKubernetes:
  cluster_domain: cluster.local
  cluster_labels:
    application: spilo
  cluster_name_label: cluster-name

configLoadBalancer:
  db_hosted_zone: db.example.com