---
apiVersion: "acid.zalan.do/v1"
kind: postgresql
metadata:
  name: {{ postgres_cluster_name }}
spec:
  teamId: "acid"
  volume:
    size: {{ postgres_cluster_volume_size }}
  numberOfInstances: {{ postgres_cluster_instances }}
  users: 
{{ postgres_cluster_users | from_yaml | to_yaml | indent( width=4, first=True) }}
  databases: 
{{ postgres_cluster_databases | from_yaml | to_yaml | indent( width=4, first=True) }}
  postgresql:
    version: "16"
  patroni:
    pg_hba:
    - local     all             all                             trust
    - hostssl   all             +zalandos    127.0.0.1/32       pam
    - host      all             all          127.0.0.1/32       md5
    - hostssl   all             +zalandos    ::1/128            pam
    - host      all             all          ::1/128            md5
    - local     replication     standby                         trust
    - hostssl   replication     standby      all                md5
    - hostnossl all             +zalandos    all                pam
    - hostnossl all             all          all                md5
    - hostssl   all             +zalandos    all                pam
    - hostssl   all             all          all                md5
