service:
  type: LoadBalancer
  loadBalancerIP: {{ postgres_operator_ui_load_balancer_ip }}

ingress:
  enabled: true
  hosts:
  - host: postgres.{{ postgres_operator_ui_tld }}
    paths:
      - /  
  - host: postgres.postgres.{{ postgres_operator_ui_cluster_name }}.{{ postgres_operator_ui_tld }}
    paths:
      - /

envs:
  targetNamespace: "*"