storageSpec:
  volumeClaimTemplate:
    spec:
      # storageClassName: standard
      accessModes: ["ReadWriteOnce"]
      resources:
        requests:
          storage: {{ redis_volume_size }}
  #   selector: {}

redisStandalone:
  tag: {{ redis_helm_image_tag }}
  redisSecret:
    secretName: "{{ redis_name }}-secret"
    secretKey: "password"
  resources:
    requests:
      cpu: 100m
      memory: 128Mi
    limits:
      cpu: 100m
      memory: 128Mi
